<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Lexical and Syntax Analyzer</title>
</head>

<body>
    <div class="container-lexico">
        <div class="container-content-lexico">
            <h1>Lexical and Syntax Analyzer</h1>
            <div class="container-elements-lexicos">
                <form action="/analyze" method="post">
                    <textarea name="code" cols="30" rows="10" placeholder="Enter code here"></textarea>
                    <button class="button-value-lexico" type="submit">Analyze</button>
                </form>
                <div id="results"></div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', async function (event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const code = formData.get('code');

            const response = await fetch('/analyze', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();
            const resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = '';

            if (data.errors || data.syntax_errors) {
                if (data.errors) {
                    resultsDiv.innerHTML += '<h2>Errors</h2><ul>';
                    data.errors.forEach(error => {
                        resultsDiv.innerHTML += `<li>${error}</li>`;
                    });
                    resultsDiv.innerHTML += '</ul>';
                }
                if (data.syntax_errors) {
                    resultsDiv.innerHTML += '<h2>Syntax Errors</h2><ul>';
                    data.syntax_errors.forEach(error => {
                        resultsDiv.innerHTML += `<li>${error}</li>`;
                    });
                    resultsDiv.innerHTML += '</ul>';
                }
            } else {
                resultsDiv.innerHTML += '<p>No syntax errors found.</p>';
            }

            resultsDiv.innerHTML += '<h2>Lexical Analysis</h2><ul>';
            data.lexical.forEach(token => {
                resultsDiv.innerHTML += `<li>Value: ${token.value}, Type: ${token.type}, Category: ${token.category}</li>`;
            });
            resultsDiv.innerHTML += '</ul>';
        });
    </script>
</body>

</html>
